
.page-container{
    /* overflow: auto; */
    float: left;
    background: #fff;
}
.page{
    position: relative;
}
.page-container .page:not(:last-child){
    margin-bottom: 12px;
}
.element{
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    table-layout: fixed;
}
.element *{
    margin: 0px;
    padding: 0px;
    /* white-space: nowrap; */
    overflow: hidden;
}
.line{
    background-color: black;
}
